# Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle/
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
/bin/
/build/
/lib/
/out/
